/* google fonts link */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

/* utilites */
:root {
    --white: #fff;
    --dark: #131313;
    --light-gray: #727272;
    --yallow: #FF900E;
    --bg-color: rgba(255, 144, 14, 0.1);
}

/* common classes */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.row {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

img {
    width: 100%;
    height: 100%;
}

.btn-primary {
    padding: 21px 24px 20px 25px;
    background-color: var(--yallow);
    border: none;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: var(--white);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    cursor: pointer;
}

section {
    margin-top: 100px;
}

/* header styles starts */
#header {
    padding: 50px 0;
    background-color: var(--bg-color);
}

/* nav styles here */
.logo a {
    color: var(--dark);
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
}

.nav ul {
    gap: 70px;
}

.nav ul li>a {
    color: var(--dark);
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
}

/* banner styles here */
.banner {
    margin-top: 100px;
    flex-direction: column;
    gap: 50px;
}

.banner-info {
    width: 862px;
    text-align: center;
}

.banner-title {
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: var(--dark);
}

.banner-description {
    font-size: 16px;
    line-height: 26px;
    color: var(--light-gray);
    margin: 30px 0;
}


/* header styles ends */

/* main part styles starts */

/* features-quick-list styles here */
.features-quick-list {
    margin-top: 85px;
}

.features-quick-list>.row {
    gap: 72px;
}

.features-quick-gallery {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
}

.features-quick-info {
    width: 50%;
}

.features-quick-info h2 {
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    color: var(--dark);
}

.features-quick-info h2 .color-light-gray {
    color: var(--light-gray);
}

.features-quick-info h2 .color-yallow {
    color: var(--yallow);
}

.features-quick-info p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--light-gray);
    margin: 24px 0 32px 0;
}

/* features-love-enjoy styles here */
.features-love-enjoy>.row {
    gap: 54px;
}

.features-love-enjoy-details,
.features-love-enjoy-thumbnail {
    width: 50%;
}

.features-love-enjoy-details {
    padding: 20px 0px 20px 0;
}

.features-love-enjoy-details h2 {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: var(--dark);
    padding: 10px 50px 10px 20px;
    border-left: 5px solid var(--yallow);
}

.features-love-enjoy-details>p {
    font-size: 16px;
    line-height: 26px;
    color: var(--light-gray);
    margin: 30px 0;
}

.features-love-enjoy-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.features-love-enjoy-info-list {
    padding: 30px 42px 30px 30px;
    background-color: var(--white);
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.features-love-enjoy-info-list h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: var(--dark);
}

.features-love-enjoy-info-list p {
    font-size: 16px;
    line-height: 26px;
    color: var(--light-gray);
    margin-top: 10px;
}

.features-love-enjoy-thumbnail {
    padding-left: 92px;
    padding-bottom: 77px;
    position: relative;
}

.btn-features {
    padding: 45px 42px;
    background-color: var(--yallow);
    border: none;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    color: var(--white);
    font-weight: 700;
    font-size: 65px;
    line-height: 50px;
    position: absolute;
    left: 0;
    bottom: 0;
    cursor: pointer;
}

.btn-features span {
    font-weight: 500;
    font-size: 25px;
    line-height: 40px;
    display: block;
}

/* some-fact styles here */
.sesction-info {
    width: 542px;
}

.section-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: var(--dark);
}

.section-description {
    font-size: 16px;
    line-height: 26px;
    color: var(--light-gray);
    margin-top: 30px;
}

.fact-items {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
}

.fact-item {
    padding: 45px 35px 59px 35px;
    border: 1px solid var(--yallow);
    text-align: center;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    position: relative;
    transition:box-shadow .5s ease, transform .7s cubic-bezier(.4, .2,.2, 1);
    -webkit-transition:box-shadow .5s ease, transform .7s cubic-bezier(.4, .2,.2, 1);
}


.fact-item:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.fact-item img {
    width: 40px;
}

.fact-item h4 {
    font-weight: 600;
    font-size: 45px;
    line-height: 53px;
    color: var(--dark);
    margin: 10px 0;
}

.fact-item p {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: var(--light-gray);
}

/* sesction-info styles here */
.our-sponspors, .our-testimonals {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.our-sponspors .sesction-info {
    text-align: center;
}

.sponspors-items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 154px;
}

.sponspor-item img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
/* testimonals style starts*/
.our-testimonals .sesction-info{
    text-align: center;
}
.testimonals{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 20px;
}
.testimonial {
    border-right: 4px solid var(--yallow);
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    padding: 30px 30px 30px 130px;
    margin: 0 15px 30px 15px;
    overflow: hidden;
    position: relative;
  }
  .testimonial:before {
    content: "";
    position: absolute;
    bottom: -4px;
    left: -17px;
    border-top: 25px solid var(--yallow);
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    transform: rotate(45deg);
  }
  .testimonial:after {
    content: "";
    position: absolute;
    top: -4px;
    left: -17px;
    border-top: 25px solid var(--yallow);
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    transform: rotate(135deg);
  }
  .testimonial .pic {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 60px;
    left: 20px;
  }
  .testimonial .pic img {
    width: 100%;
    height: auto;
  }
  .testimonial .description {
    font-size: 15px;
    letter-spacing: 1px;
    color: var(--light-gray);
    line-height: 25px;
    margin-bottom: 15px;
  }
  .testimonial .title {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--dark);
    margin: 0;
  }
  .testimonial .post {
    display: block;
    font-size: 17px;
    color: var(--yallow);
    font-style: italic;
  }

/* main part styles ends */

/* footer style starts */

#footer{
    margin-top: 80px;
    background-color: var(--bg-color);
    padding: 40px 0;
}
#footer p{
    font-size: 20px;
line-height: 23px;
text-align: center;
color: var(--dark);
}

/* footer style ends */

/*==================
 responsive part here 
====================*/

/* mobile device styles here */

@media only screen and (max-width:576px) {

    /* common */
    .btn-primary {
        padding: 16px 20px 17px 21px;
        font-size: 14px;
    }

    section {
        margin-top: 50px;
    }

    /* header  */
    #header {
        padding: 30px 0;
    }

    /* nav */
    .nav.row {
        flex-direction: column;
        gap: 10px;
    }

    .logo a {
        font-size: 30px;
        line-height: 38px;
    }

    .nav ul {
        margin-top: 30px;
        gap: 20px;
        flex-direction: column;
        align-items: center;
    }

    .nav ul li>a {
        font-size: 16px;
    }

    /* banner */
    .banner-ditail{
        padding: 0 20px;
    }
    .banner {
        margin-top: 30px;
        gap: 30px;
    }

    .banner-title {
        font-size: 35px;
        line-height: 44px;
    }

    .banner-description {
        font-size: 14px;
        margin: 16px 10px;
    }

    /* main */
    /* features-quick-list */
    .features-quick-list {
        padding: 0 15px;
    }

    .features-quick-list>.row {
        flex-direction: column;
        gap: 30px;
    }

    .features-quick-gallery,
    .features-quick-info {
        width: 100%;
    }

    .features-quick-gallery {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 30px;
    }

    .features-quick-info {
        text-align: center;
    }

    .features-quick-info h2 {
        font-size: 30px;
        line-height: 45px;
    }

    .features-quick-info p {
        margin: 17px 0;
        font-size: 14px;
    }

    /* features-love-enjoy */
    .features-love-enjoy {
        padding: 0 20px;
    }

    .features-love-enjoy>.row {
        flex-direction: column;
        gap: 30px;
    }

    .features-love-enjoy-details,
    .features-love-enjoy-thumbnail {
        width: 100%;
    }

    .features-love-enjoy-details h2 {
        font-size: 30px;
        line-height: 40px;
    }

    .features-love-enjoy-details>p {
        font-size: 14px;
        line-height: 24px;
        padding-left: 0 10px;
    }

    .features-love-enjoy-info-list p {
        font-size: 14px;
        line-height: 23px;
    }

    .features-love-enjoy-thumbnail {
        padding-left: 60px;
        padding-bottom: 50px;
    }

    .btn-features {
        padding: 35px 25px;
        font-size: 48px;
    }

    .btn-features span {
        font-size: 20px;
        line-height: 30px;
    }

    /* some-fact */
    .sesction-info {
        width: 100%;
        text-align: center;
        padding: 0 20px;
    }

    .section-title {
        font-size: 35px;
    }

    .section-description {
        font-size: 14px;
        line-height: 24px;
        margin-top: 14px;
    }

    .fact-items {
        margin-top: 50px;
        grid-template-columns: repeat(1, 1fr);
        justify-items: stretch;
        gap: 20px;
        padding: 0 20px;
    }

    .fact-item {
        transform: scale(0.9);
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
    }

    .fact-item:hover {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }

    /* our-sponspors */
    .sponspors-items {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 50px;
    }
    .sponspor-item img{
        width: 70%;
    }
    /* footer */
    #footer{
        margin-top: 50px;
    }
    #footer p{
        font-size: 15px;
        padding: 0 30px;
    }
    /* testimonals */
    .testimonals{
        grid-template-columns: repeat(1,1fr);
    }
    .testimonial .description{
        font-size: 13px;
    }
}

